# Q.)Print the first ArmStrong number in the range of 1042000 to 702648265 and exit the loop as soon as you encounter the first armstrong number. Use while loop.

In [6]:
print("Submission Of Assignment 1 Day 4 Done By Shejan N. Virani")
print("www.shejanbro1.0.com")

Submission Of Assignment 1 Day 4 Done By Shruti R. Patel
shruti07112000@gmail.com

In [7]:
lower = 1042000
upper = 702648265
for num in range(lower, upper + 1):
   # order of number
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
   if num == sum:
       print(num)
       break

1741725